img {
	width: 400px;

}
		
#thirdDiv {
	height: 600px;
	width: 500px;
	background-color: lightsalmon;
	padding: 50px;
	border: 20px solid tan;
}

#spanId {
	font-size: 18px;
	margin: 50px;
}

body {
	background-image: url(https://image.freepik.com/free-photo/ingredients-making-toast-sandwich-white-background_23-2147925937.jpg);
	background-position: center center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div {
	text-align: center;
}